---
import ArticleList from "@/components/article/article-list.astro"
import MainLayout from "@/layouts/main-layout.astro"

const { searchParams } = Astro.url
const currentPage = searchParams.has("page")
  ? parseInt(searchParams.get("page") ?? "1")
  : 1
---

<MainLayout>
  <h1 class="mb-6 text-2xl font-bold md:text-3xl">Artikel</h1>
  <ArticleList page={currentPage} perPage={10} />
</MainLayout>
