---
import Button from "@/components/ui/button.astro"
import type { SelectProductionCompany } from "@/server/db/schema"

interface Props {
  productionCompanies: Pick<SelectProductionCompany, "id" | "slug" | "name">[]
}

const { productionCompanies } = Astro.props
---

<!-- TODO: use logo instead of name -->
<Fragment>
  {
    productionCompanies.length > 0 && (
      <div class="flex items-center justify-start space-x-2">
        <div>
          <span>Rumah Produksi:</span>
        </div>
        <div class="space-x-2">
          {productionCompanies.map((productionCompany) => {
            return (
              <a
                aria-label={productionCompany.name}
                href={`/movie/production-company/${productionCompany.slug}`}
              >
                <Button
                  size="sm"
                  variant="outline"
                  class="rounded-full uppercase"
                >
                  {productionCompany.name}
                </Button>
              </a>
            )
          })}
        </div>
      </div>
    )
  }
</Fragment>
