---
import PaginationContent from "@/components/ui/pagination/pagination-content.astro"
import PaginationItem from "@/components/ui/pagination/pagination-item.astro"
import PaginationNext from "@/components/ui/pagination/pagination-next.astro"
import PaginationPrevious from "@/components/ui/pagination/pagination-previous.astro"
import Pagination from "@/components/ui/pagination/pagination.astro"
import { api } from "@/trpc/server"
import ArticleCard from "./article-card.astro"

interface Props {
  topic: {
    id: string
    slug: string
  }
  page?: number
  perPage?: number
}

const { topic, page = 1, perPage = 10 } = Astro.props

const { id, slug } = topic

const articles = await api.article.byTopicId({
  topicId: id,
  language: "id",
  page,
  perPage,
})

const totalArticles = await api.article.countByTopicId(id)

const totalPages = Math.ceil(totalArticles / perPage)
const currentPage = page
---

<div class="space-y-3">
  {articles.map((article) => <ArticleCard article={article} />)}
</div>

{
  totalPages > 1 && (
    <div class="mt-6">
      <Pagination>
        <PaginationContent>
          {currentPage > 1 && (
            <PaginationItem>
              <PaginationPrevious
                href={`/article/topic/${slug}?page=${currentPage - 1}`}
              />
            </PaginationItem>
          )}
          {currentPage < totalPages && (
            <PaginationItem>
              <PaginationNext
                href={`/article/topic/${slug}?page=${currentPage + 1}`}
              />
            </PaginationItem>
          )}
        </PaginationContent>
      </Pagination>
    </div>
  )
}
