---
import { publicSiteUrl } from "@/utils/constant"

interface Props {
  article: {
    title: string
    slug: string
  }
}

const { article } = Astro.props

const { title, slug } = article

const url = `${publicSiteUrl}/article/${slug}`
---

<div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2">
  <p class="text-foreground/50">Beri komentar di</p>
  <div>
    <a
      href={`https://twitter.com/intent/tweet/?text=${encodeURI(
        title,
      )}&url=${encodeURI(url)}`}
      target="_blank"
    >
      X (Twitter)
    </a>
    <span class="text-foreground/50"> / </span>
    <a
      href={`https://facebook.com/sharer/sharer.php?u=${encodeURI(url)}`}
      target="_blank"
    >
      Facebook
    </a>
    <span class="text-foreground/50"> / </span>
    <a
      href={"whatsapp://send?text=" + encodeURI(title) + "%20" + encodeURI(url)}
      target="_blank"
    >
      WhatsApp
    </a>
  </div>
</div>
