---
import { YouTube } from "astro-embed"

import { parseContent, type ContentPart } from "@/utils/content-parser"

interface Props {
  article: {
    title: string
    content: string
  }
}

const { article } = Astro.props
const { title, content } = article

const contentParts: ContentPart[] = parseContent(content, title)
---

<div class="article-content">
  {
    contentParts.map((part) => {
      switch (part.type) {
        case "html":
          return <Fragment set:html={part.content} />
        case "image":
          return (
            <img
              src={part.src}
              alt={article.title}
              loading="lazy"
              sizes="(min-width: 640px) 720px, 250px"
              class="aspect-video w-full rounded object-cover"
            />
          )
        case "youtube":
          {
            console.log(part.src)
          }
          return (
            <YouTube
              id={part.src}
              class="aspect-video w-full rounded object-cover"
            />
          )
        default:
          return null
      }
    })
  }
</div>
