---
import Button from "@/components/ui/button.astro"
import { api } from "@/trpc/server"
import ArticleCard from "./article-card.astro"

const articles = await api.article.byLanguage({
  language: "id",
  page: 1,
  perPage: 5,
})
---

<h1 class="mb-6 text-2xl font-bold md:text-3xl">Artikel Terbaru</h1>
<div class="space-y-3">
  {articles.map((article) => <ArticleCard article={article} />)}
</div>
<div class="mt-4 flex items-center justify-center">
  <a href="/article">
    <Button>Lihat Semua Artikel</Button>
  </a>
</div>
