---
import type { SelectArticle } from "@/server/db/schema"
import ArticleCard from "./article-card.astro"

interface Props {
  articles: Pick<
    SelectArticle,
    "slug" | "featuredImage" | "title" | "excerpt"
  >[]
}

const { articles } = Astro.props
---

{
  articles.length > 0 && (
    <Fragment>
      <p class="mb-6 text-xl font-bold md:text-2xl">Kamu mungkin menyukainya</p>
      <div class="space-y-3">
        {articles.map((article) => (
          <ArticleCard article={article} />
        ))}
      </div>
    </Fragment>
  )
}
