---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@yopem-ui/utils"

import ChevronLeftIcon from "@/assets/icons/chevron-left.svg"
import PaginationLink from "./pagination-link.astro"

type Props = HTMLAttributes<"a">

const { class: className, ...attrs } = Astro.props
---

<PaginationLink
  aria-label="Go to previous page"
  size="default"
  class={cn("gap-1 pl-2.5", className)}
  {...attrs}
>
  <ChevronLeftIcon class="size-4" />
  <span>Sebelumnya</span>
</PaginationLink>
