---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@yopem-ui/utils"

import { buttonVariants } from "@/components/ui/button.astro"

type Props = HTMLAttributes<"a"> & {
  isActive?: boolean
  size?: "default" | "sm" | "lg" | "icon"
}

const { isActive, size, class: className, ...attrs } = Astro.props
---

<a
  aria-current={isActive ? "page" : undefined}
  class={cn(
    buttonVariants({
      variant: isActive ? "outline" : "ghost",
      size,
    }),
    className,
  )}
  {...attrs}
>
  <slot />
</a>
