---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@yopem-ui/utils"

import ChevronRightIcon from "@/assets/icons/chevron-right.svg"
import PaginationLink from "./pagination-link.astro"

type Props = HTMLAttributes<"a">

const { class: className, ...attrs } = Astro.props
---

<PaginationLink
  aria-label="Go to next page"
  size="default"
  class={cn("gap-1 pr-2.5", className)}
  {...attrs}
>
  <span>Selanjutnya</span>
  <ChevronRightIcon class="size-4" />
</PaginationLink>
