---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@yopem-ui/utils"

import EllipsisIcon from "@/assets/icons/ellipsis.svg"

type Props = HTMLAttributes<"nav">

const { class: className, ...attrs } = Astro.props
---

<span
  aria-hidden
  class={cn("flex size-9 items-center justify-center", className)}
  {...attrs}
>
  <EllipsisIcon class="size-4" />
  <span class="sr-only">More pages</span>
</span>
