---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@yopem-ui/utils"

type Props = HTMLAttributes<"nav">

const { class: className, ...attrs } = Astro.props
---

<nav
  role="navigation"
  aria-label="pagination"
  class={cn("mx-auto flex w-full justify-center", className)}
  {...attrs}
>
  <slot />
</nav>
