---
import SocialMedia from "@/components/social-media.astro"
import { publicSiteTitle } from "@/utils/constant"
---

<footer class="border-border right-0 bottom-0 left-0 border-t py-4">
  <div
    class="mx-4 flex max-w-4xl flex-col items-center justify-start gap-8 md:flex-row md:justify-between lg:mx-auto"
  >
    <div class="order-2 md:order-1">
      <p>&copy; {new Date().getFullYear()} {publicSiteTitle}</p>
    </div>
    <div class="order-1 md:order-2">
      <SocialMedia />
    </div>
  </div>
</footer>
