---
import { cn } from "@yopem-ui/utils"

import Logo from "@/assets/logo.svg"

const navItems = {
  "/": {
    name: "beranda",
    hideOnMobile: false,
  },
  "/search": {
    name: "cari",
    hideOnMobile: false,
  },
  "/article": {
    name: "artikel",
    hideOnMobile: false,
  },
  "/movie": {
    name: "film",
    hideOnMobile: false,
  },
}

const pathname = Astro.url.pathname
---

<aside class="-mx-4 md:mx-0 md:w-[150px] md:flex-shrink-0 md:px-0">
  <div class="lg:sticky lg:top-20">
    <div
      class="text-foreground my-4 flex h-10 w-full items-center justify-center text-xl font-bold md:-mt-3 md:items-start md:justify-start"
    >
      <!-- @ts-expect-error TODO: svg import is still experimental and not yet support typescript -->
      <Logo />
    </div>
    <nav
      class="fade relative flex scroll-pr-6 flex-row items-start px-4 pb-0 md:relative md:flex-col md:overflow-auto md:px-0"
      id="nav"
    >
      <div
        class="mt-2 mb-2 flex flex-row space-x-0 pr-10 md:mt-0 md:flex-col md:space-y-2"
      >
        {
          Object.entries(navItems).map(([path, { name, hideOnMobile }]) => {
            const isActive = path === pathname

            return (
              <a
                href={path}
                class={cn(
                  "hover:text-foreground/90 align-middle transition-all",
                  {
                    flex: hideOnMobile === false,
                    "hidden md:flex": hideOnMobile === true,
                    "text-foregound/90": !isActive,
                    "font-bold": isActive,
                  },
                )}
              >
                <span class="relative px-[10px] py-[5px]">
                  {name}
                  {isActive && (
                    <div class="bg-secondary absolute inset-0 z-[-1] rounded-md">
                      <slot />
                    </div>
                  )}
                </span>
              </a>
            )
          })
        }
      </div>
    </nav>
  </div>
</aside>
