---
import HashIcon from "@/assets/icons/hash.svg"
import type { SelectTopic } from "@/server/db/schema"

interface Props {
  topic: Pick<SelectTopic, "slug" | "title">
}

const { topic } = Astro.props
---

<div class="hover:bg-accent rounded-lg border p-4">
  <a href={`/topic/${topic.slug}`} class="flex flex-row items-center space-x-2">
    <!-- @ts-expect-error TODO: svg import is still experimental and not yet support typescript -->
    <HashIcon class="size-4" />
    <h3 class="font-medium">{topic.title}</h3>
  </a>
</div>
