---
import Button from "@/components/ui/button.astro"
import type { SelectTopic } from "@/server/db/schema"

interface Props {
  topics: Pick<SelectTopic, "id" | "slug" | "title">[]
}

const { topics } = Astro.props
---

<div class="space-x-2">
  {
    topics.map((topic) => {
      return (
        <a aria-label={topic.title} href={`/article/topic/${topic.slug}`}>
          <Button size="sm" variant="outline" class="rounded-full uppercase">
            {topic.title}
          </Button>
        </a>
      )
    })
  }
</div>
