---
import RecentArticles from "@/components/article/recent-articles.astro"
import RecentMovies from "@/components/movie/recent-movies.astro"
import BreadcrumbSchema from "@/components/seo/breadcrumb-schema.astro"
import MainLayout from "@/layouts/main-layout.astro"
---

<MainLayout title="Home">
  <div class="space-y-8">
    <RecentArticles />
    <RecentMovies />
  </div>
  <BreadcrumbSchema />
</MainLayout>
