---
import ImageOffIcon from "@/assets/icons/image-off.svg"
import BreadcrumbSchema from "@/components/seo/breadcrumb-schema.astro"
import Button from "@/components/ui/button.astro"
import MainLayout from "@/layouts/main-layout.astro"
import { api } from "@/trpc/server"
import { formatDate } from "@/utils/date"

const { username } = Astro.params

const user = await api.user.byUsername(username!)

if (!user) {
  return Astro.redirect("/404")
}
---

<MainLayout>
  <div class="flex flex-col items-center justify-center space-y-8">
    <h1 class="mb-6 text-2xl font-bold md:text-3xl">
      {user.name ?? user.username}
    </h1>
    {
      user.image ? (
        <div class="flex items-center justify-center">
          <img
            src={user.image}
            alt={user.image}
            width="150px"
            height="150px"
            loading="lazy"
            sizes="(min-width: 640px) 150px, 75px"
            class="aspect-square rounded-full object-cover"
          />
        </div>
      ) : (
        // @ts-expect-error TODO: svg import is still experimental and not yet support typescript
        <ImageOffIcon class="aspect-square h-auto w-full" />
      )
    }
    <p class="text-xs">
      Bergabung sejak {formatDate(user.createdAt, "LL")}
    </p>
    <a href={`/article/user/${username}`}>
      <Button>
        Lihat artikel dari {user.name}
      </Button>
    </a>
  </div>

  <BreadcrumbSchema />
</MainLayout>
