---
import Button from "@/components/ui/button.astro"
import type { SelectGenre } from "@/server/db/schema"

interface Props {
  genres: Pick<SelectGenre, "id" | "slug" | "title">[]
}

const { genres } = Astro.props
---

<Fragment>
  {
    genres.length > 0 && (
      <div class="flex items-center justify-start space-x-2">
        <div>
          <span>Genre:</span>
        </div>
        <div class="space-x-2">
          {genres.map((genre) => {
            return (
              <a aria-label={genre.title} href={`/movie/genre/${genre.slug}`}>
                <Button
                  size="sm"
                  variant="outline"
                  class="rounded-full uppercase"
                >
                  {genre.title}
                </Button>
              </a>
            )
          })}
        </div>
      </div>
    )
  }
</Fragment>
