---
import {
  publicFacebookUsername,
  publicInstagramUsername,
  publicTiktokUsername,
  publicXUsername,
} from "@/utils/constant"
---

<div
  class="flex flex-col items-center justify-center space-y-2 md:flex-row md:space-y-0 md:space-x-2"
>
  <p class="text-foreground/50">Ikuti juga kami di</p>
  <div>
    <a href={`https://x.com/@${publicXUsername}`} target="_blank">
      X (Twitter)
    </a>
    <span class="text-foreground/50"> / </span>
    <a href={`https://facebook.com/${publicFacebookUsername}`} target="_blank">
      Facebook
    </a>
    <span class="text-foreground/50"> / </span>
    <a
      href={`https://instagram.com/${publicInstagramUsername}`}
      target="_blank"
    >
      Instagram
    </a>
    <span class="text-foreground/50"> / </span>
    <a href={`https://tiktok.com/@${publicTiktokUsername}`} target="_blank">
      TikTok
    </a>
  </div>
</div>
