---
import MovieList from "@/components/movie/movie-list.astro"
import MainLayout from "@/layouts/main-layout.astro"

const { searchParams } = Astro.url
const currentPage = searchParams.has("page")
  ? parseInt(searchParams.get("page") ?? "1")
  : 1
---

<MainLayout>
  <h1 class="mb-6 text-2xl font-bold md:text-3xl">Film</h1>
  <MovieList page={currentPage} perPage={12} />
</MainLayout>
