---
import Button from "@/components/ui/button.astro"

interface Props {
  searchQuery?: string
  className?: string
}

const { searchQuery = "", className = "" } = Astro.props
---

<form
  action="/search"
  method="get"
  class={`flex w-full space-x-1 ${className}`}
>
  <input
    type="text"
    name="query"
    value={searchQuery}
    placeholder="Cari sesuatu ..."
    class="w-full rounded-lg border border-gray-300 px-4 py-1 focus:ring-2 focus:outline-none"
  />
  <Button type="submit">Search</Button>
</form>
