---
import ImageOffIcon from "@/assets/icons/image-off.svg"
import CardHeader from "@/components/ui/card/card-header.astro"
import CardTitle from "@/components/ui/card/card-title.astro"
import Card from "@/components/ui/card/card.astro"
import type { SelectMovie } from "@/server/db/schema"

interface Props {
  movie: Pick<SelectMovie, "slug" | "poster" | "title">
}

const { movie } = Astro.props
---

<Card class="h-full">
  <a href={`/movie/${movie.slug}`} class="flex h-full flex-col">
    <div class="w-full p-2">
      {
        movie.poster ? (
          <img
            src={movie.poster}
            alt={movie.title}
            loading="lazy"
            sizes="(min-width: 1024px) 240px, (min-width: 640px) 180px, 120px"
            class="aspect-[2/3] h-auto w-full rounded object-cover"
          />
        ) : (
          // @ts-expect-error TODO: svg import is still experimental and not yet support typescript
          <ImageOffIcon class="aspect-[2/3] h-auto w-full" />
        )
      }
    </div>
    <div class="flex-1 pt-0">
      <CardHeader class="p-3">
        <CardTitle class="text-sm md:text-base">{movie.title}</CardTitle>
      </CardHeader>
    </div>
  </a>
</Card>
