---
import PaginationContent from "@/components/ui/pagination/pagination-content.astro"
import PaginationItem from "@/components/ui/pagination/pagination-item.astro"
import PaginationNext from "@/components/ui/pagination/pagination-next.astro"
import PaginationPrevious from "@/components/ui/pagination/pagination-previous.astro"
import Pagination from "@/components/ui/pagination/pagination.astro"
import { api } from "@/trpc/server"
import MovieCard from "./movie-card.astro"

interface Props {
  genre: {
    id: string
    slug: string
  }
  page?: number
  perPage?: number
}

const { genre, page = 1, perPage = 10 } = Astro.props

const { id, slug } = genre

const movies = await api.movie.byGenreId({
  genreId: id,
  page,
  perPage,
})

const totalMovies = await api.movie.countByGenreId(id)

const totalPages = Math.ceil(totalMovies / perPage)
const currentPage = page
---

<div class="grid grid-cols-2 gap-4 md:grid-cols-3">
  {movies.map((movie) => <MovieCard movie={movie} />)}
</div>

{
  totalPages > 1 && (
    <div class="mt-6">
      <Pagination>
        <PaginationContent>
          {currentPage > 1 && (
            <PaginationItem>
              <PaginationPrevious
                href={`/genre/${slug}?page=${currentPage - 1}`}
              />
            </PaginationItem>
          )}
          {currentPage < totalPages && (
            <PaginationItem>
              <PaginationNext href={`/genre/${slug}?page=${currentPage + 1}`} />
            </PaginationItem>
          )}
        </PaginationContent>
      </Pagination>
    </div>
  )
}
