---
import PaginationContent from "@/components/ui/pagination/pagination-content.astro"
import PaginationItem from "@/components/ui/pagination/pagination-item.astro"
import PaginationNext from "@/components/ui/pagination/pagination-next.astro"
import PaginationPrevious from "@/components/ui/pagination/pagination-previous.astro"
import Pagination from "@/components/ui/pagination/pagination.astro"
import { api } from "@/trpc/server"
import MovieCard from "./movie-card.astro"

interface Props {
  productionCompany: {
    id: string
    slug: string
  }
  page?: number
  perPage?: number
}

const { productionCompany, page = 1, perPage = 10 } = Astro.props

const { id, slug } = productionCompany

const movies = await api.movie.byProductionCompanyId({
  productionCompanyId: id,
  page,
  perPage,
})

const totalMovies = await api.movie.countByProductionCompanyId(id)

const totalPages = Math.ceil(totalMovies / perPage)
const currentPage = page
---

<Fragment>
  {
    movies.length > 0 ? (
      <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
        {movies.map((movie) => (
          <MovieCard movie={movie} />
        ))}
      </div>
    ) : (
      <p class="flex items-center justify-center py-8">
        Belum ada film yang tersedia.
      </p>
    )
  }
</Fragment>

{
  totalPages > 1 && (
    <div class="mt-6">
      <Pagination>
        <PaginationContent>
          {currentPage > 1 && (
            <PaginationItem>
              <PaginationPrevious
                href={`/movie/production-company/${slug}?page=${currentPage - 1}`}
              />
            </PaginationItem>
          )}
          {currentPage < totalPages && (
            <PaginationItem>
              <PaginationNext
                href={`/movie/production-company/${slug}?page=${currentPage + 1}`}
              />
            </PaginationItem>
          )}
        </PaginationContent>
      </Pagination>
    </div>
  )
}
