---
import Button from "@/components/ui/button.astro"
import { api } from "@/trpc/server"
import MovieCard from "./movie-card.astro"

const movies = await api.movie.latest({
  page: 1,
  perPage: 6,
})
---

<h1 class="mb-6 text-2xl font-bold md:text-3xl">Film Terbaru</h1>
<div class="grid grid-cols-2 gap-4 md:grid-cols-3">
  {movies.map((movie) => <MovieCard movie={movie} />)}
</div>
<div class="mt-4 flex items-center justify-center">
  <a href="/movie">
    <Button>Lihat Semua Film</Button>
  </a>
</div>
