---
import type { SelectMovie } from "@/server/db/schema"
import MovieCard from "./movie-card.astro"

interface Props {
  movies: Pick<SelectMovie, "slug" | "poster" | "title">[]
}

const { movies } = Astro.props
---

{
  movies.length > 1 && (
    <Fragment>
      <p class="mb-5 text-xl font-bold md:text-2xl">You may also like</p>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
        {movies.map((movie) => (
          <MovieCard movie={movie} />
        ))}
      </div>
    </Fragment>
  )
}
