---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@yopem-ui/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...attrs } = Astro.props
---

<div class={cn("flex flex-col space-y-1.5 p-6", className)} {...attrs}>
  <slot />
</div>
