---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@yopem-ui/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...attrs } = Astro.props
---

<div className={cn("text-muted-foreground text-sm", className)} {...attrs}>
  <slot />
</div>
