---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@yopem-ui/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...attrs } = Astro.props
---

<div
  class={cn("bg-card text-card-foreground rounded border shadow", className)}
  {...attrs}
>
  <slot />
</div>
