---
import "@/styles/global.css"

import Sidebar from "@/components/layout/sidebar.astro"

import "@fontsource/inter"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Nisomnia</title>
  </head>
  <body
    class="mx-4 mt-8 mb-40 flex max-w-4xl flex-col gap-4 font-sans antialiased md:mt-20 md:flex-row md:gap-8 lg:mx-auto lg:mt-32"
  >
    <Sidebar />
    <main class="mt-6 flex min-w-0 flex-auto flex-col px-2 md:mt-0 md:px-0">
      <slot />
    </main>
  </body>
</html>
